
body {
    margin:0;
    padding:0;
    background-color: rgb(60, 141, 173);
}
/*styling of the heading*/
.heading {
    transform: translateY(50px);
    text-align: center;
    font-size: 30px;
}

.container {
    margin-top: 250px;
}

.row-class {
    display: grid;
    justify-content: center;
    grid-template-columns: 35% 35%;
    grid-column-gap: 10%;
}

/*for stacking on top of each other*/

@media screen and (max-width: 900px){
    .row-class {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 10%;
    }
}

/*columns styling
   setting opcities as per the problem statement*/
.col-class_1 {
    padding: 40px;
    background-color: rgb(94, 30, 94, 0.5);
}

.col-class_2 {
    padding: 40px;
    background-color: rgb(94, 30, 94);
    opacity: 0.5;
}

/*text-styling inside column*/
.col-class_1 p {
    color: white;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

.col-class_2 p {
    color: white;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}